extends layout

block content
  h1= title
  a(href="/creature/create", class="btn btn-success") Create New Creature

  if results && results.length > 0
    ul
      each creature in results
        li 
          strong= creature.creature 
          |  (#{creature.habitat}) - Lifespan: #{creature.lifespan}
  else
    p No creatures found in database

  - let items = results;
  div(class="container-fluid")
    div(class="row")
      each item in items
        div(class="row-sm-2", class="m-1") Item #{item.creature}(#{item.habitat}) is #{item.lifespan}
          button.btn(class="btn-primary", onclick=`dispatch("/creature/update?id=${item._id}")`) Update
          button.btn(class="btn-info", onclick=`dispatch("/creature/detail/?id=${item._id}")`) Details
          button.btn(class="btn-danger", onclick=`dispatch("/creature/delete/?id=${item._id}")`) Delete
  script.
    function dispatch(path){
      window.location.href=path
    }