extends layout
block content
h1= title
- let creatureid = toShow._id
- let creature = toShow.creature
- let creaturehabitat = toShow.habitat 
- let creaturelifespan = toShow.lifespan
div
div.row
div(class='creatureAttr mr-3') Creature ID is:
div #{creatureid}
div.row
div(class='creatureAttr mr-3') Creature Type is:
div #{creature}
div.row
div(class='creatureAttr mr-3') Creature Habitat is:
div #{creaturehabitat}
div.row
div(class='creatureAttr mr-3') Creature Lifespan is:
div #{creaturelifespan}
