extends layout
block content
  h1(class="creaturetitle")= title
  if (toShow == null)
    h2 No instance to delete
  else
    - let creatureid = toShow._id
    - let creature = toShow.creature
    - let creaturelifespan = toShow.lifespan
    - let creaturehabitat = toShow.habitat
    - let actionid = "/resource/creature/" + creatureid
    script let actionid = "#{actionid}"
    div.detaillist
      div.detailrow
        div(class='creatureAttr') Creature ID is:
        div #{creatureid}
      div.detailrow
        div(class='creatureAttr') Creature Type is:
        div #{creature}
      div.detailrow
        div(class='creatureAttr') Creature Habitat is:
        div #{creaturehabitat}
      div.detailrow
        div(class='creatureAttr') Creature Lifespan is:
        div #{creaturelifespan}
      button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
      button(class="btn btn-secondary m-2" onclick="cancel()") Cancel
  script.
    function cancel() {
      window.location.href='/creature'
    }
  script.
    function deleteOnid() {
    console.log("starting delete")
      fetch(actionid, {
        method: 'DELETE'
      }).then((resp) => {
        return resp.json();
      }).then((body) => {
        alert("Delete succeded")
        window.location.href='/creature'
      }).catch((error) => {
        alert("Delete failed " + error )
      });
    }